@import '../../styles/base';

.messages-list {
  padding: 1rem;
  list-style-type: none;
  width: 100%;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  
  .message-container {
    @include displayFlex;

    .message {
      padding: 0.5rem 1rem;
      display: inline-block;
      margin: 5px 0;
      border: 1px solid $alto;
      max-width: 30rem;
      @include borderRadius(10px);

      .text {
        @include titleFontStyle;
      }

      .date-container {
        @include displayFlex;
        @include flexDirection(row-reverse);

        .date {
          @include paragraphFontStyle;
          font-weight: 0.7rem;
          color: $elm;
        }
      }

    }
    &.owner-message {
      margin-left: auto; 
      margin-right: 0;
      flex-direction: row-reverse;
      
      .message {
        background: $aquaSqueeze;
      }
    }
  }
}