@import "../../styles/base";

.nav {
  @include displayFlex;
  @include flexDirection(column);
  position: fixed;
  top: 4rem;
  padding: 0.5rem 1rem;
  overflow-y: auto;
  height: 100%;
  width: 20rem;
  background: $white;
  border-right: 1px solid $alto;


  .nav-link {
    text-decoration: none;
    @include displayFlex;
    @include alignItems(center);
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.5rem 1rem;
    border: 0.1rem solid $alto;
    @include borderRadius(10px);
    background: $white;

    .nav-item-icon-wrapper {
      padding-left: 0;
    }


    .room-data {
      overflow-x: hidden;

      .username {
        @include truncateText;
        @include titleFontStyle;
      }
      .message {
        @include truncateText;
        @include paragraphFontStyle;
      }
    }

    &.active {
      background: $aquaSqueeze;
      border-color: transparent;
      .username, .message {
        color: $elm;
      }
      .nav-item-icon-wrapper {
        .icon {
          color: $elm;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background: $elm;
      .username, .message {
        color: $white;
      }
      .nav-item-icon-wrapper {
        .icon {
          color: $white;
        }
      }
    }
  }
}
