@import "../../styles/base";

@mixin selectedRoom {
  @include boxShadow;
  border: 1px solid $gray;
}

.nav {
  @include displayFlex;
  @include flexDirection(column);
  position: fixed;
  top: 4rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  overflow-y: auto;
  height: 100%;
  width: 20rem;
  background: $iron;

  .nav-link {
    text-decoration: none;
    @include displayFlex;
    @include alignItems(center);
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px 5px 5px;
    border: 1px solid $gray;
    @include borderRadius(10px);
    background: $white;


    .room-data {
      overflow-x: hidden;

      .username {
        @include truncateText;
        font-size: 20px;
        font-weight: 600;
        color: $scorpion;
      }
      .message {
        @include truncateText;
        font-size: 14px;
        color: $ultramarine;
      }
    }

    &.active {
      @include selectedRoom;
      background: $gray;
      .username {
        color: $white;
      }
    }
    &:hover {
      @include selectedRoom;
      cursor: pointer;
    }
  }
}
