@import '../../styles/base';

.login-container {
  background-color: $white;
  height: 100vh;
  @include displayFlex;
  @include justifyContent(center);
  @include alignItems(center);

  .login-form {
    @include displayFlex;
    @include flexDirection(column);
    @include alignItems(center);
    width: 38rem;

    .logo-wrapper {
      .icon {
       color: $elm;
       font-size: 10rem; 
      }
    }

    h1, h3 {
      text-align: center;
    }

    h1 {
      margin-top: -1rem;
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    input {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      @include borderRadius(0.5rem);
      border: 0.1rem solid $alto;
      width: 25rem;
      margin-bottom: 1rem;
    }

    .login-btn {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      color: $elm;
      background: rgb(239,42,48);
      background: $white;
      @include borderRadius(0.5rem);
      border: 0.1rem solid $elm;
      width: 25rem;
      outline: $elm;

      &:hover {
        border-color: transparent;
        background: $elm;
        color: $white;
        cursor: pointer;
      }
    }
  }
}