@import "../../styles/base";

.room {
  background-color: $white;
  @include displayFlex;
  position: fixed;
  overflow-y: auto;
  top: 4rem;
  bottom: 0;
  left: 20rem;
  right: 0;

  @include displayFlex;
  @include flexDirection(column);

  .messages-list-container {
    border-bottom: 0.1rem solid $alto;
    margin-bottom: 0.5rem;
    width: 100%;
    position: relative;
    overflow-y: overlay;
    @include displayFlex;
    @include flexDirection(column);
    flex: 1;

    .messages-list {
      max-width: 55rem;
    }
  }

  .input-container {
    @include displayFlex;
    width: 100%;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    padding: 1rem;

    .textarea {
      font-family: "Roboto", sans-serif;
      background: $white;
      padding: 1rem;
      border: 0.2rem solid $elm;
      @include borderRadius(0.8rem);
      width: 100%;
      outline: none;
      @include titleFontStyle;
      max-height: 30rem;
      min-height: 2rem;
      resize: none;
      box-sizing: border-box;
    }

    .send-icon-wrapper {
      margin-top: auto;
      margin-bottom: auto;
      border: 0.2rem solid $elm;
      border-radius: 50%;
      margin-left: 1rem;
      padding: 1rem;

      .icon {
        font-size: 2rem;
        color: $elm;
      }
      &:hover {
        cursor: pointer;
        border-color: transparent;
        background-color: $elm;
        .icon {
          color: $white;
        }
      }
    }
  }
}
